.container {
    background: #31a998;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100%;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container h1 {
    /* padding: 2vh 0; */
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* styles/SearchBar.module.css */
.searchContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid #ccc; */
    border-radius: 50px;
    overflow: hidden;
    width: 80%;
    padding: 2%;
    position: relative;
    margin: 0 auto;
    /* Adjust the width as needed */
}

.searchInput {
    flex: 1;
    border: none;
    padding: 30px;
    font-size: 30px;
    border-radius: 25px;
    outline: none;
    height: 50px;
}

.searchButton {
    background-color: #8ddd23;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 45px;
}

.subjectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.subjectItem {
    height: 33vh;
    cursor: pointer;
    transition: transform 0.3s;
    /* border: 2px solid black; */
}

.subjectItem:hover {
    transform: scale(1.4);
}

/* .subjectItem img {
    width: 100%;
    height: 100%;
    object-fit: fill;
} */

.subjectItem h1 {
    height: 100%;
    text-align: center;
}

.topicItems {
    max-height: 33vh;
    overflow-y: auto;
    padding: 5%;
}

ul.topicList {
    list-style: none;
    /* padding-bottom: 10%;  */
}

ul.topicList li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    transition: box-shadow 0.3s ease-in-out;
}

ul.topicList li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}