.container {
    height: 100vh;
    background-color: #d9ead3;
    color: #194b07;
}

.container h1 {
    padding: 2vh 0;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

.mainPageLoaderHide{
    display: None;
    z-index: -100 !important;
}

.mainPageLoader{
    position: absolute;
    font-size: 48px;
    top: 0;
    text-align: center;
    padding-top: 10vh;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: #fcbfc8;
    color: #631420;
}

.evaluationContainer {
    display: flex;
    flex-direction: column;
}

.question {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding: auto 5%;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}

.singleOption {
    display: flex;
    flex-direction: column;
}

.singleOption h4 {
    text-align: center;
    padding-top: 6%;
    font-weight: 500;
    font-size: 20px;
}

.options img {
    transition: transform 0.3s;
    object-fit: cover;
    border-radius: 10px;
}

.options img:hover {
    transform: scale(1.1);
}

.active {
    transform: scale(1.1);  
}

.answer {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-bottom: 2%;
}

.arrowIcon {
    text-align: center;
}