.container {
    background: #c1e9b2;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container h1 {
    padding: 2vh 0;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #194b07;
}

/* styles/SearchBar.module.css */
.searchContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid #ccc; */
    border-radius: 50px;
    overflow: hidden;
    width: 80%;
    padding: 2%;
    position: relative;
    margin: 0 auto;
    /* Adjust the width as needed */
}

.searchInput {
    flex: 1;
    border: none;
    padding: 30px;
    font-size: 30px;
    border-radius: 25px;
    outline: none;
    height: 50px;
}

.searchButton {
    background-color: #c1e9b2;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 45px;
}

.characterList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.characterItem {
    height: 33vh;
    /* border: 1px solid black; */
    transition: transform 0.3s;
}

.characterItem:hover {
    transform: scale(1.4);
}

.characterItem h1 {
    height: 100%;
    text-align: center;
}

/* .characterItem img {
    width: 100%;
    height: 100%;
} */