.container h1 {
    padding: 2vh 0;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.characterList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.characterItem {
    height: 33vh;
    border: 1px solid black;
    transition: transform 0.3s;
}

.characterItem:hover {
    transform: scale(0.95);
}

.characterItem h1 {
    height: 100%;
    text-align: center;
}

/* .characterItem img {
    width: 100%;
    height: 100%;
} */